body {
  margin: 0; /* nulstil margin */
  font-family: Arial, sans-serif;
}

/* Containeren styrer bredden og flugter alt */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%; /* luft i siderne */
}

.category_list_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 150px); /* giver faste rækker */
  gap: 20px;
}

.category_list_container div {
  background-color: #888; /* grå baggrund */
  color: white;
  display: flex;
  justify-content: flex-start; /* tekst til venstre */
  align-items: center; /* stadig centreret vertikalt */
  font-size: 1.2rem;
  border-radius: 6px;
  padding-left: 15px; /* lidt luft fra venstre kant */
}

@media (max-width: 600px) {
  .category_list_container {
    grid-template-columns: 1fr;
  }
}

/* _____Productlist siden______ */

.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* _________Product side (max bredde 600px) → 1 kolonne________ */
/* Responsiv */
@media (max-width: 900px) {
  #product_page {
    grid-template-columns: 1fr;
  }

  .product_buybox {
    margin-top: 20px;
  }
}

/* ______Mobil (max bredde 600px) → 1 kolonne_______*/
/* Responsiv */
@media (max-width: 600px) {
  .product_list_container {
    grid-template-columns: 1fr;
  }
}
